@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --main-bg-color: #1F1F1F;
    --secondary-bg-color: #181818;
    --main-text-color: #D1DDED;
    --main-used-color: #3684DB;
}

body, head {
    background-color: #1F1F1F;
    font-family: 'Kumbh Sans', sans-serif;
}
.header {
    font-size: 15vw; 
    font-weight: bold;
    color: transparent;
    text-align: left; 
    -webkit-text-stroke: 0.5vh var(--main-used-color);
    margin: 0;
    display: block; 
    position: relative;
    left: -9.5vw; 
    letter-spacing: 3.3vw; 
    white-space: nowrap; 
    word-spacing: 0.1vw;
}

.content{
    margin-bottom: 10em;
    text-align: center;
}

.part{
    background-color: var(--secondary-bg-color);
    padding: 2em;
    border-radius: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
}

.textsection{
    font-size: 2em;
    color: var(--main-text-color);
    margin-bottom: 5em;
}

.skills{
    display: grid;
    gap: 1em;
}

.list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:2em;
}

.list img{
    width: 5em;
}

.mainpart{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

/* Desktop */
@media (min-width: 760px) {
    .skills{
        grid-template-columns: repeat(4,1fr);
    }
}

/* Mobile */
@media (max-width: 759px) {
    .skills{
        grid-template-rows: repeat(4,1fr);
    }

}