@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --main-bg-color: #1F1F1F;
    --secondary-bg-color: #181818;
    --main-text-color: #D1DDED;
    --main-used-color: #3684DB;
}

body, head {
    background-color: #1F1F1F;
    font-family: 'Kumbh Sans', sans-serif;
}

/* .header {
    font-size: 15vw; 
    font-weight: bold;
    color: transparent;
    text-align: left; 
    -webkit-text-stroke: 0.5vh var(--main-used-color);
    margin: 0;
    display: block; 
    position: relative;
    left: -2.5vw; 
    letter-spacing: 3.3vw; 
    white-space: nowrap; 
    word-spacing: 0.1vw;
} */

.content{
    flex-grow: 1;
    /* margin-bottom: 10em;
    text-align: center; */
}

.content h2{
  color:var(--main-used-color);
  -webkit-text-stroke-color: transparent;
}

.part{
    background-color: var(--secondary-bg-color);
    padding: 2em;
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    max-width: 12em;
    max-height: 12em;
}

.textsection{
    text-align: center;
    color: var(--main-text-color);
    padding: 3em;
}

.skills{
    display: flex;
}

.list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:1em;
}

.list img{
    width: 3.5em;
}

.mainpart{
    display: flex;
    flex-direction: column;
    row-gap: 3em;
    justify-content: center;
}

/* Desktop */
@media (min-width: 760px) {
    .skills{
        flex-direction: row;
        justify-content: center;
        gap: 2em;
        flex-wrap: wrap;
    }

    .textsection{
        font-size: 1.5em;}
}

/* Mobile */
@media (max-width: 759px) {
    .skills{
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }

    .textsection{
        flex-direction: column;
    }

}