@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --main-bg-color: #1F1F1F;
    --secondary-bg-color: #181818;
    --main-text-color: #D1DDED;
    --main-used-color: #3684DB;
}

body,
head {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
    user-select: none;
}

.content {
    padding-top: 7vh;
    width: 100%;
    cursor: default;
}

.header {
    font-size: 15vw;
    font-weight: bold;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 4px var(--main-used-color);
    margin: 0;
    overflow: hidden;
    position: relative;
    left: -9.5vw;
    letter-spacing: 2.2vw;
    overflow: visible;
}

.highlight {
    color: #3684DB;
    font-weight: 900;
}

.text {
    font-size: 3em;
    font-weight: bold;
    color: var(--main-text-color);
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 1.25em;
}

button {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.3em;
    border-radius: 0.6em;
}

.secondary-button {
    padding: 0.7em 2em;
    border: 0.18em solid var(--main-used-color);
    color: var(--main-used-color);
    background-color: transparent;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.secondary-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(209, 221, 237, 0.4), transparent);
    transform: skewX(-30deg);
    animation: shimmer 5s infinite;
}

.secondary-button:hover::before {
    animation: shimmer-hover 0.5s;
}

@keyframes shimmer {
    0% {
        left: -150%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes shimmer-hover {
    0% {
        left: -150%;
    }

    100% {
        left: 100%;
    }
}

.main-button a {
    text-decoration: none;
    color: #1F1F1F;
}

.main-button {
    padding: 0.7em 2em;
    background-color: var(--main-used-color);
    color: var(--main-bg-color);
    border: 0px;
    font-weight: 700;
}

#game-button {
    margin-top: 6em;
}

.socials ul {
    background-color: var(--secondary-bg-color);
    padding: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    list-style: none;
    border: 0.2em solid var(--main-used-color);
    border-radius: 0.6em;
}


.socials ul li:not(:last-child) {
    border-right: 0.3em solid var(--main-used-color);
}

.socials li {
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
}

.socials i {
    transition: fill 0.2s ease;
    transition: background-color 0.2s ease;
    color: #3684DB;
}

.socials li:hover {
    background-color: var(--main-used-color);
}

.socials i:hover {
    color: var(--secondary-bg-color);
}

/* Desktop Navbar */
@media (min-width: 760px) {

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 70px;
        background-color: var(--secondary-bg-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        height: 7vh;
    }

    nav svg {
        height: 100%; 
    }
    
    nav a {
        text-decoration: none;
        color: var(--main-text-color);
        font-weight: bold;
        font-family: 'Kumbh Sans', sans-serif;
        margin: 0 0.2em;
        padding: 0 6em;
        line-height: 7vh;
        white-space: nowrap;
        display: inline-flex; 
        align-items: center; 
        height: 100%; 
        box-sizing: border-box;
        transition: background .25s, box-shadow .15s;
    }

    nav a:active {
        background: var(--main-used-color);
    }

    nav a:hover {
        background: var(--main-used-color);
        cursor: pointer;
    }

    nav .nav-logo a:hover {
        background: none; 
    }

    nav .icon {
        display: none;
    }

    .content {
        flex-direction: column;
        row-gap: 1.875em;
        margin: 0px 9em;
    }

    .socials ul {
        right: 5em;
        bottom: 1em;
    }

}

/* Mobile Navbar */
@media (max-width: 759px) {

    nav {
        position: fixed;
        top: 0;
        left: 0;
    }

    nav a {
        display: none;
    }

    nav a.icon {
        position: absolute;
        right: 0;
        top: 0;
        float: right;
        display: block;
        padding: 1em;
    }

    nav.responsive {
        background-color: var(--secondary-bg-color);
    }

    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    nav.responsive .nav-logo {
        display: none;
    }

    .content {
        flex-direction: column;
        row-gap: 5em;
        margin: 0 1em;
    }

    .header {
        
        font-weight: bold;
        color: transparent;
        text-align: center;
        -webkit-text-stroke: 1px var(--main-used-color);
        margin: 0;
        overflow: hidden;
        position: relative;
        left: -7.5vw;
        letter-spacing: 0.15em;
        overflow: visible;
    }

    .buttons {
        flex-direction: column;
        row-gap: 1em;
    }

    .secondary-button {
        width: 100%;
    }

    .main-button {
        width: 100%;
    }

    .socials ul {
        right: 2em;
        bottom: 1em;
    }

}