@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --main-bg-color: #1F1F1F;
    --secondary-bg-color: #181818;
    --main-text-color: #D1DDED;
    --main-used-color: #3684DB;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-bg-color);
}


::-webkit-scrollbar-thumb {
    background: var(--main-used-color);
    border-radius: 25px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,
head {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
}

.content {
    padding-top: 7vh;
    padding-bottom: 10vh;
    cursor: default;
}

h2{
    font-size: clamp(2em, 5vw, 4em);
    text-align: center;
    font-weight:800;
    color: transparent;
    -webkit-text-stroke: 0.1vh var(--main-used-color);
}

h3{
    font-size: 1.2em;
    text-align: center;
    font-weight:800;
    margin: 0;
    color: var(--main-used-color);
}

h4{
    font-size: 1.25em;
    text-align: center;
    font-weight: 600;
    color: var(--main-used-color);
    margin: 0;
}

h5{
    font-size: 0.938em;
    text-align: center;
    font-weight: 400;
    color: var(--main-text-color);
}

.header {
    font-size: clamp(3em, 10vw, 14em); 
    font-weight: bold;
    color: transparent;
    width: 100%;
    text-align: center; 
    -webkit-text-stroke: 0.1vw var(--main-used-color);
    letter-spacing: 2vw;
    margin: 0;
}

.highlight {
    color: #3684DB;
    font-weight: 900;
}

.text {
    font-size: 3em;
    font-weight: bold;
    color: var(--main-text-color);
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 1.25em;
}

button {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.3em;
    border-radius: 0.6em;
}

.secondary-button {
    padding: 0.7em 2em;
    border: 0.18em solid var(--main-used-color);
    color: var(--main-used-color);
    background-color: transparent;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.secondary-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(209, 221, 237, 0.4), transparent);
    transform: skewX(-30deg);
    animation: shimmer 5s infinite;
}

.secondary-button:hover::before {
    animation: shimmer-hover 0.5s;
}

@keyframes shimmer {
    0% {
        left: -150%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes shimmer-hover {
    0% {
        left: -150%;
    }

    100% {
        left: 100%;
    }
}

.main-button a {
    text-decoration: none;
    color: #1F1F1F;
}

.main-button {
    padding: 0.7em 2em;
    background-color: var(--main-used-color);
    color: var(--main-bg-color);
    border: 0px;
    font-weight: 700;
}

#game-button {
    margin-top: 6em;
    position:fixed;
   left: 5em;
   bottom: 1em;
}

.socials ul {
    background-color: var(--secondary-bg-color);
    padding: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    list-style: none;
    border: 0.2em solid var(--main-used-color);
    border-radius: 0.6em;
}


.socials ul li:not(:last-child) {
    border-right: 0.3em solid var(--main-used-color);
}

.socials li {
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
}

.socials i {
    transition: fill 0.2s ease;
    transition: background-color 0.2s ease;
    color: #3684DB;
}

.socials li:hover {
    background-color: var(--main-used-color);
}

.socials i:hover {
    color: var(--secondary-bg-color);
}

nav a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0 0.2em;
    padding: 0 6em;
    line-height: 7vh;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    transition: background .25s, box-shadow .15s;
}

.nav-item a.active {
    background-color: var(--main-used-color);
}

nav a:hover {
    background: var(--main-used-color);
    cursor: pointer;
}

/* Desktop Navbar */
@media (min-width: 1025px) {

    .content {
        padding-top: 7vh;}

    nav {
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--secondary-bg-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        height: 7vh;
        transition: 0.3s ease;
    }

    nav svg {
        height: 3vh;
    }

    .nav-logo {
        display: block;
      }

    nav .nav-logo a:hover {
        background: none;
    }

    nav .icon {
        display: none;
    }

    .content {
        flex-direction: column;
        /* margin: 0 9em; */
    }

    .socials ul {
        right: 5em;
        bottom: 1em;
    }

    .hamburger {
        display: none;
        cursor: pointer;
    }
    
    .hamburger i {
        font-size: 1.5rem;
    }

    .mobile-logo {
        display: none;
    }

    .top-row{
        display: none;
    }

}

/* Mobile */
@media (max-width: 759px) {
    .top-row {
        display: block;
    }

    nav {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.5rem 1em;
        background-color: var(--secondary-bg-color);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        box-sizing: border-box;
        transition: 0.3s ease;
    }

    .top-row svg {
        width: 4vh;
    }

    .top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .nav-logo {
        margin: 0;
        display: block;
    }

    .nav-logo a{
        padding: 0;
    }

    .desktop-logo{
        display: none;
    }

    .hamburger {
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1100;
        width: 30px;
        overflow: visible!important;
    }

    .hamburger span {
        display: block;
        height: 5px;
        background-color: white!important;
        border-radius: 2px;
        transition: 0.4s ease;
    }

    .hamburger.open span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    
    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.open span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .nav-item {
        display: none;
        margin: 0.5rem 0;
        text-align: center;
        width: 100%;
    }

    nav.responsive {
        height: 100vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        row-gap: 4em;
        align-items: center;
    }

    nav.responsive .nav-item {
        display: block;
    }

    nav a{
        width: 100%;
        justify-content: center;
    }

    nav .nav-item.active {
        background-color: var(--main-used-color);
        color: var(--main-text-color);
    }

    .content {
        padding: 15vh 0;
        flex-direction: column;
        row-gap: 5em;
    }

    .buttons {
        flex-direction: column;
        row-gap: 1em;
    }

    .secondary-button {
        width: 100%;
    }

    .main-button {
        width: 100%;
    }

    .socials ul {
        right: 2em;
        bottom: 1em;
    }
}
