@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
body, head {
    background-color: #1F1F1F;
    font-family: 'Kumbh Sans', sans-serif;
}
.header {
    font-size: 15vw; 
    font-weight: bold;
    color: transparent;
    text-align: left; 
    -webkit-text-stroke: 0.5vh var(--main-used-color);
    margin: 0;
    display: block; 
    position: relative;
    left: -2.5vw; 
    letter-spacing: 2vw; 
    white-space: nowrap; 
}
.content{
    margin-bottom: 10em;
    text-align: center;
    width: 100%;
}

h2{
    font-size: 4em;
    text-align: center;
    font-weight:800;
    color: transparent;
    -webkit-text-stroke: 0.1vh var(--main-used-color);
}

.mainpart{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.projectlist{
    display: grid;
    gap: 0.5em;
}

.name{
    font-size: 2em;
    font-weight: bold;

}

.filter{
    font-size: 1em;
    font-weight: semibold;
}

.project{
    background-color: var(--secondary-bg-color);
    padding: 2em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.project a{
    text-decoration: none;
}

.project img {
    width: 10vw;
}

/* Desktop */
@media (min-width: 760px) {
   .projectlist{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 4em;
   }
}

/* Mobile */
@media (max-width: 759px) {
    .projectlist{
        grid-template-rows: repeat(4,1fr);
       }

}