body, head {
    background-color: #1F1F1F;
    font-family: 'Kumbh Sans', sans-serif;
}

html, body {
    margin: 0;
  padding: 0;
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
}

.content{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    cursor: default;
    text-align: center;
}

.content h1{
    align-items: center;
}

h2 {
    font-size: clamp(2em, 5vw, 4em);
    text-align: center;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 0.1vh var(--main-used-color);
}

.mainpart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.projectlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.name {
    font-size: clamp(1.5em, 3vw, 2em);
    font-weight: bold;
}

.filter {
    font-size: clamp(0.8em, 2vw, 1em);
    font-weight: 600;
}

.project {
    position: relative;
    border-radius: 2em;
    border: 1px solid var(--main-used-color);
    display: inline-block;
    overflow: hidden;
    width: clamp(200px, 20vw, 300px);
    aspect-ratio: 4 / 3;
}

.project .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    gap: 0.5em;
}

.heading .links {
    display: flex;
    gap: 0.5em;
}

.project:hover .heading {
    opacity: 1;
}

.project a {
    text-decoration: none;
}

a svg {
    fill: var(--main-used-color);
    width: 2em;
    height: 2em;
}

.project img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0);
    transition: filter 0.3s ease;
}

.project:hover img {
    filter: blur(5px) opacity(20%);
}

/* Tablet */
@media (min-width: 769px) {
    .header {
        font-size: clamp(3em, 8vw, 10em);
    }

    .projectlist {
        padding: 0 2em;
    }
}

/* Mobile  Tablet */
@media (max-width: 1024px) {
    .header {
        font-size: clamp(2.5em, 6vw, 8em);
    }

    .mainpart {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .projectlist {
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

    .project {
        width: 90%;
        max-width: 400px;
    }
}
